/* Start Genral Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --dark-color: #1d2021;
  --light-color: #ebdbb2;
  --blue-color: #458588;
  --red-color: #ea6962;
  --yellow-color: #d8a657;
}
body {
  font-family: "Fira Code";
}
.btn-main {
  background-color: var(--red-color);
  color: var(--dark-color);
}
.btn-main:hover {
  background-color: var(--yellow-color);
  color: var(--light-color);
}
/* End Genral Style */

/* Start Navbar */
.navbar {
  background-color: var(--dark-color);
}

.navbar .nav-link {
  color: var(--light-color);
}
.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
  color: var(--blue-color);
}

.navbar .navbar-toggler {
  color: var(--light-color);
  border-color: var(--light-color);
  box-shadow: none;
}
.navbar .navbar-toggler[aria-expanded="true"] {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

.navbar .search {
  border-left: 1px solid var(--blue-color);
}
.navbar .search svg {
  color: var(--blue-color);
}
/* End Navbar */
/* start leading  */
.leading {
  background-color: var(--dark-color);
  height: calc(100dvh - 72px);
}
/* End Leading   */

/* start features */
.main-title::after {
  content: "";
  position: absolute;
  background-color: var(--blue-color);
  height: 2px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
}
.features {
  min-height: calc(100dvh - 72px);
}
.hold-icons {
  height: 200px;
}

.hold-icons svg {
  left: 50%;
  transform: translateX(-50%);
}
.hold-icons .number {
  height: 12rem;
}
.hold-icons .icon {
  color: var(--blue-color);
}
.features h4 {
  color: var(--yellow-color);
}

/* Start work */
.work {
  background: #2e3b3b;
  min-height: calc(100dvh - 72px);
}
.work li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.work li.active {
  background-color: var(--red-color);
  color: var(--dark-color);
}
.work li:not(.active):hover {
  color: var(--red-color);
}
.work .box {
  position: relative;
  margin: 0.5rem;
}
.work .box img {
  padding: 15px;
  border-radius: 8px;
}
.work .box:before {
  content: attr(data-work);
  background-color: rgba(46, 59, 59, 0.5);
  position: absolute;
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.6rem;
  border-radius: 8px;
  transition: 0.5s;
}

.work .box:hover::before {
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(46, 59, 59, 0.1);
  height: calc(100% + 20px);
}
/* End work */
.about-parghph {
  max-width: 500px;
}
.about {
  min-height: calc(100dvh - 90px);
  background-color: var(--light-color);
}
button:not(.navbar button) {
  min-width: 300px;
}
/* End About */
/* Start Team */
.team {
  min-height: calc(100dvh - 72px);
  background: #2e3b3b;
}

.team h3 {
  color: var(--yellow-color);
}
.team-box {
  height: 500px;
  border-radius: 8px;
}
.team-box h2 {
  background-color: var(--blue-color);
}
.team-box img {
  height: 300px;
  width: 100%;
}
/* End Team */
/* Start Techs & Projects */
.techs {
  background-color: var(--light-color);
}
.techs,
.projects {
  min-height: 50dvh;
}
.projects {
  background: #2e3b3b;
}
.projects button,
.blog button {
  min-width: 161px;
}
/* End Techs & Projects */
/* Start Blog */
.blog {
  min-height: calc(100dvh - 72px);
  background-color: var(--light-color);
}
/* End Blog */
/* start Subscribe */
.subscribe {
  background: var(--yellow-color);
}
.subscribe .btn-main {
  background-color: var(--blue-color);
  color: var(--yellow-color);
  width: 150px;
}
input[type="email"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid white;
  min-width: 30%;
  outline: none;
}

input[type="email"]::placeholder {
  color: white;
}
/* end Blog */
/* Start Footer */
.footer {
  background-color: var(--dark-color);
}
.footer p span {
  color: var(--red-color);
}
small span {
  color: var(--yellow-color);
}
.icons li svg {
  border-radius: 50%;
  padding: 10px;
  color: var(--light-color);
}
.facebook {
  background-color: #1877f2;
}
.twitter {
  background-color: #1da1f2;
}
.linkdein {
  background-color: #1877f2;
}
.youtube {
  background-color: #ff0000;
}
/* End Footer */
